
body {
    background-image: url("http://www.dreamtemplate.com/dreamcodes/bg_images/color/c4.jpg");
    height: 100%
}

header {
    text-align: center;
    color: white;
}

h1 {
    letter-spacing: 3px;
}

nav {
    text-align: center;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover{
    border-bottom: 2px black solid;
    font-size: 2em;
    transition: 0s;  
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: white;
    text-align: center;
}

#generalDescription {
    color: white;
    padding-left: 150px;
    font-size: large;
    word-spacing: 3px;
    text-shadow: 2px 2px #333300;
    font-variant: normal;
}

#homePic {
    padding-right: 140px;
    padding-top: 40px;
}

#howPic {
    padding-right: 140px;
    padding-top: 40px;
}

#processPic {
    padding-right: 180px;
}

#resultPic {
    padding-right: 140px;
    /*padding-top: 20px;*/
}